@import './base.css';

body{
    font-family: "Poppins";
    background-color: var(--gwhite);
}

#h1e{
    color: #027BD4;
    margin-bottom: 70px;
}

#tudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 250px;
    padding: 5px;
    font-family: "Poppins";
}

.form1{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.labels{
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 30px;
}

.h2e{
    color: #353DAA;
    margin-bottom: 5px;
}


#voltar{
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}

#continuar{
    background-color: #353DAB;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}